@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Bebas+Neue&display=swap');

/* 
Colors in the logo
#BF0005 DarkRed
#FF0000 Red
#E97B00 Orange 
*/

.font-s{
    font-family: 'Abhaya Libre', serif;
}

.font-1{
    font-family: 'Bebas Neue', cursive;
}

body{
    transition: background-color 1s; 
}

.r-header{
    padding: 30px 80px;
    transition: 0.5s; 
    font-size: 120%;
}

.r-nav-brand{
    font-size: 280%;
    transition: 0.2s; 
}

.r-section0{
    width: 100%;
    height: 600px;
    background-image: linear-gradient(135deg,#434343, #000000);
    clip-path: ellipse(90% 65% at 30% 28%);
    transition: 0.5s; 
}

.r-logo0{
    position: fixed;
    left: 30%;
    bottom: 22%;
    width: 30%;
    z-index: 200;
    transition: background-color 0.2s,
                width 0.5s,
                left 0.5s,
                bottom 0.5s,
                padding 0.5s,
                border 0.5s,
                border-radius 0.5s; 

}

.r-mimg0{
    position: absolute;
    right: 4%;
    bottom: 10%;
    width: 30%;
    z-index: 100;
}

.r-mcaption0{
    position: absolute;
    text-align: center;
    bottom: 15%;
    left: 35%;
    font-size: 130%;
    transition: 0.2s; 
}

.r-section1{
    padding-top: 100px;
}

.r-title0{
    transition: 0.5s; 
}

.r-section1.card{
    transition: 0.3s; 
}

.r-quote0{
    font-size: 100%;
    padding: 20px 100px;
    transition: 0.5s; 
}

.r-quote0::before{
    content: open-quote;
    position: absolute;
    font-size: 300%;
    left: 6%;
    top: 0;
}

.r-quote0::after{
    content: close-quote;
    position: absolute;
    font-size: 200%;
    text-align: right;
    right: 6%;
    bottom: 0;
}

.r-quote0-text{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s; 
}

.r-quote0-text span{
    font-size: 200%;
}

/* Section 2 */
.r-section2{
    padding-top: 100px;
}

.r-icon2{
    font-size: 2rem;
    transition: 0.5s; 
}

.r-title2{
    transition: 0.5s; 
}

.r-cardt2{
    display: inline;
}

.r-card-2b-1, .r-card-2b-2, .r-card-2b-3{
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/* Section 3 */
.r-section3{
    padding-top: 100px;
}

.r-se3-card{
    border: 0px;
}

.r-se3-card div.card-body{
    padding: 0px;
}

.r-se3-cardt{
    font-size: 100%;
}