@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Bebas+Neue&display=swap');

/* 
Colors in the logo
#BF0005 DarkRed
#FF0000 Red
#E97B00 Orange 
*/

.font-s {
    font-family: 'Abhaya Libre', serif;
}

.font-1 {
    font-family: 'Bebas Neue', cursive;
}

body {
    transition: background-color 1s;
}

/* Header */
.r-header {
    padding: 30px 80px;
    transition: 0.5s;
    font-size: 120%;
}

.r-nav-brand {
    font-size: 280%;
    transition: 0.2s;
}

/* Head section */
.r-section0 {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(135deg, #434343, #000000);
    clip-path: ellipse(90% 65% at 30% 28%);
    transition: 0.5s;
}

.r-se0-logo {
    position: fixed;
    left: 30%;
    bottom: 22%;
    width: 30%;
    z-index: 200;
    transition: background-color 0.2s,
        width 0.5s,
        left 0.5s,
        bottom 0.5s,
        padding 0.5s,
        border 0.5s,
        border-radius 0.5s;

}

.r-se0-mimg {
    position: absolute;
    right: 4%;
    bottom: 10%;
    width: 30%;
    z-index: 100;
}

.r-se0-mcaption {
    position: absolute;
    text-align: center;
    bottom: 15%;
    left: 35%;
    font-size: 110%;
    transition: 0.2s;
}

/* Section 1 */
.r-section1 {
    padding-top: 100px;
}

.r-se1-title {
    transition: 0.5s;
}

.r-section1.card {
    transition: 0.3s;
}

.r-se1-quote {
    font-size: 100%;
    padding: 20px 100px;
    transition: 0.5s;
}

.r-se1-quote::before {
    content: open-quote;
    position: absolute;
    font-size: 300%;
    left: 6%;
    top: 0;
}

.r-se1-quote::after {
    content: close-quote;
    position: absolute;
    font-size: 200%;
    text-align: right;
    right: 6%;
    bottom: 0;
}

.r-se1-quote-t {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s;
}

.r-se1-quote-t span {
    font-size: 200%;
}

/* Section 2 */
.r-section2 {
    padding-top: 100px;
}

.r-se2-title {
    transition: 0.5s;
}

.r-se2-icon {
    font-size: 2rem;
    transition: 0.5s;
}

.r-se2-card-t {
    display: inline;
}

.r-se2-card-b1,
.r-se2-card-b2,
.r-se2-card-b3 {
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

/*section 3*/
.r-section3 div.card{
    padding-top: 10px;
}

.r-se3-title{
    transition: 0.5s; 
}

.r-section3 h5.card-title{
    transition: 0.5s; 
}

.r-section3 p.card-text{
    font-size: 18px;
}

.r-section3 div.card{
    margin: 5px;
}

/* Section 4 */
.r-section4 {
    padding-top: 100px;
}

.r-se4-title {
    transition: 0.5s;
}

.r-se4-cards {
    height: 70vh;
    overflow: hidden;
}

.r-se4-collect {
    text-align: center;
    /* Starting position */
    -moz-transform: translateY(110%);
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
    /* Apply animation to this element */
    -moz-animation: scroll-up 20s linear infinite;
    -webkit-animation: scroll-up 20s linear infinite;
    animation: scroll-up 20s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-up {
    0% {
        -moz-transform: translateY(110%);
    }

    100% {
        -moz-transform: translateY(-110%);
    }
}

@-webkit-keyframes scroll-up {
    0% {
        -webkit-transform: translateY(110%);
    }

    100% {
        -webkit-transform: translateY(-110%);
    }
}

@keyframes scroll-up {
    0% {
        -moz-transform: translateY(110%);
        /* Browser bug fix */
        -webkit-transform: translateY(110%);
        /* Browser bug fix */
        transform: translateY(110%);
    }

    100% {
        -moz-transform: translateY(-110%);
        /* Browser bug fix */
        -webkit-transform: translateY(-110%);
        /* Browser bug fix */
        transform: translateY(-110%);
    }
}

.r-se4-card {
    background-color: transparent;
    border: 0px;
}

.r-se4-card div.card-body {
    padding: 0px;
}

.r-se4-card-t {
    font-size: 100%;
}

/*chatbot*/
.chat {
    margin-top: 150px;
    right: 1%;
    bottom: 1%;
    position: fixed;
    width: 400px;
    height: 75%;
    border-radius: 10px;
    box-shadow: -11px -1px 19px -1px rgba(0,0,0,0.59);
    z-index: 200;
    display: none;
    background-color: crimson;
}

   
.actions {
    display: block;
    margin: 5px;
}
.actions input{
    height: 30px;
    display: block;
    width: 100%;
    outline: 0;
    border: 0;
    border-left: 0;
    border-right: 0;
    text-align: center;
    border-radius: 10px;
}

div.messages{
    overflow-y: auto;
    overflow-x: hidden;
    height: 83%;
    box-shadow: inset 0px -4px 5px -1px rgba(0,0,0,0.75);
}
div.messages span {
    max-width: 60%;
    display: block;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
}
.messages .bot {
    text-align: left;
    margin-right: auto;
    background: #001f3f;
    color: white;
}
.messages .self {
    text-align: right;
    margin-left: auto;
    background: darkslategray;
    color: white;
}

div.chaticon{
    bottom: 2%;
    right: 5%;
    position: fixed;
}
div.chaticon button{
    box-shadow: 0px -1px 13px 2px rgba(0,0,0,0.75);
}
div.chatclose{
    text-align: right;
    box-shadow: 0px 6px 5px -1px rgba(0,0,0,0.75);
}
.chatclose button{
    border-radius: 0;
    border-top-right-radius: 10px;
}

